h1{
    color:blue;
    background-color:greenyellow ;
  }
  h2{
    color:rgb(208, 218, 187);
    background:linear-gradient(to left,white, rgb(57, 96, 179));
  }
  h3{
    background-color:rgb(221, 239, 182);
  }
  p {
	color: navy;
}
a:link {
    color:purple;
  }
  
  a:visited {
    color: gray;
  }
  
  a:hover {
    text-decoration: none;
  }